

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows:  minmax(108px, auto);
  grid-gap: 1em;
  margin: 9px;
  z-index: 99;
  position: relative;
  overflow: hidden;
}

.wrapper > div {
  opacity: 0.7;
}

.wrapper > div:hover {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  cursor: pointer;
}

#logo {
  width: 468px;
  margin-left: 5px;
  margin-top: 7px;
}

.div2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: #FF5454;
  animation-delay: 1s;
}

.div3 {
  grid-column: 1 / 2;
  grid-row: 3 / 7;
  background: #FFBF60;
  animation-delay: 2s;
}

.div4 {
  grid-column: 2/3;
  grid-row: 1 / 5;
  background-color: #FFF89B;
  animation-delay: 3s;
}

.div5 {
  grid-column: 2/3;
  grid-row: 5/7;
  background: #ABFFAE;
  animation-delay: 4s;
}

.div6 {
  grid-column: 3/4;
  grid-row: 1/3;
  background: #A2FCFF;
  animation-delay: 5s;
}

.div7 {
  grid-column: 3/4;
  grid-row: 3 / 7;
  background: #837AFF;
  animation-delay: 6s;
}

.div8 {
  grid-column: 4;
  grid-row: 1/5;
  background: #F27DFF;
  animation-delay: 7s;
}

.div9 {
  grid-column: 4;
  grid-row: 5/7;
  background: #989898;
  animation-delay: 8s;
}

p {
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  padding-left: 10px;
  font-size: 2rem;
}

h5 {
  font-family: "Segoe UI", sans-serif;
  font-size: 36px;
  text-align: center;
  width: 100%;
}

img {
  width: 100%;
  margin-bottom: 29px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}

html, body {
  height: 100%;
}

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  /* overflow: hidden; */
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 100vw;
}

.lines .line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}
.lines .line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
  -webkit-animation: run 7s 0s infinite;
          animation: run 7s 0s infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
          animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}
.lines .line:nth-child(1) {
  margin-left: -25%;
}
.lines .line:nth-child(1)::after {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.lines .line:nth-child(3) {
  margin-left: 25%;
}
.lines .line:nth-child(3)::after {
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

@-webkit-keyframes run {
  0% {
    top: 0%;
  }
  100% {
    top: 100%;
  }
}

@keyframes run {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:0.7;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:0.7;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:0.7;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 0.7;
    }
}

.modal-dialog {
    margin-left: 0;
}

/*Required*/
@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}
    .modal, .fade, .show {
      padding: 0!important;
    }

    .modal-dialog {
        margin: 0px 0px 0px !important;
        max-width: 100vw !important;
    }

    .close {
      margin-top: -2px!important;
    }

    .modal-content {
      background-color: #171717;
    }

    .modal-header {
        background-color: #007bff !important;
        color: #fff;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border: none;
        margin-bottom: 52px;
        font-size: 36px;
    }

    .modal-content-copy {
      width: 800px;
      margin: 0 auto;
    }

    .modal-content-copy p {
      font-family: "Segoe UI", sans-serif;
      font-weight: normal;
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      padding: 0;
      margin: 0 0 29px 0;
    }

    .modal-content-copy h5 {
      font-family: "Segoe UI", sans-serif;
      font-weight: bold;
      color: #fff;
      font-size: 18px;
      line-height: 29px;
      text-align: left;
      text-decoration: underline;
      padding: 0;
      margin: 0;
      width: auto;
    }

    .modal-content-copy h6 {
      font-family: "Segoe UI", sans-serif;
      font-weight: bold;
      font-size: 24px;
      line-height: 29px;
      padding: 0;
      margin: 0 0 29px 0;
    }

    #exampleModal1 h6 {color: #FF5454;}
    #exampleModal1 .modal-header {background-color: #FF5454!important;}
    #exampleModal2 h6 {color: #FFBF60;}
    #exampleModal2 .modal-header {background-color: #FFBF60!important;}
    #exampleModal3 h6 {color: #FEDA2B;}
    #exampleModal3 .modal-header {background-color: #FEDA2B!important;}
    #exampleModal4 h6 {color: #78FF7C;}
    #exampleModal4 .modal-header {background-color: #78FF7C!important;}
    #exampleModal5 h6 {color: #C400FF;}
    #exampleModal5 .modal-header {background-color: #C400FF!important;}
    #exampleModal6 h6 {color: #A2FCFF;}
    #exampleModal6 .modal-header {background-color: #A2FCFF!important;}
    #exampleModal7 h6 {color: #837AFF;}
    #exampleModal7 .modal-header {background-color: #837AFF!important;}
    #exampleModal8 h6 {color: #F27DFF;}
    #exampleModal8 .modal-header {background-color: #F27DFF!important;}

    span {
        color: white !important;
    }

.modal-dialog-slideout {
    margin: 0;
}

.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0, 100%);transform: translate(0, 100%);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}
