body {
    margin-top: 20px;
}


#logo {
    width: 200px;
    margin-top: 15px;
}

.modal-dialog {
    margin-left: 0;
}

/*Not Required*/
.btn {
    margin-bottom:15px;
    width: 258px;
    height: 200px;
}

/*Required*/
@media (max-width: 576px){.modal-dialog.modal-dialog-slideout {width: 80%}}

@media (min-width: 576px){
    .modal-dialog {
        margin: 0px 0px 0px !important; 
        max-width: 600px !important;
    }

    .modal-header {
        background-color: #007bff !important;
        color: #fff;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    span {
        color: white !important;
    }
}

.modal-dialog-slideout {
    margin: 0;
}

.modal-dialog-slideout {min-height: 100%; margin: 0 auto 0 0 ;background: #fff;}
.modal.fade .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(-100%,0);transform: translate(-100%,0);}
.modal.fade.show .modal-dialog.modal-dialog-slideout {-webkit-transform: translate(0,0);transform: translate(0,0);flex-flow: column;}
.modal-dialog-slideout .modal-content{border: 0;}

.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.col {
    height: 100vh;
    border: 1px dashed red;
}

.modal-content p {
    padding: 15px !important;
}